.page-home-index
  = link_to '图片列表', "/images", :method => :get, :class => "btn btn-default add-image"
  = link_to 'ppt列表', "/ppts", :method => :get, :class => "btn btn-default choice-image"






